<div class="prt_about_wrapper prt_toppadder115">
			<div class="prt_close_wrapper">
				<img src="images/header/down_arrow.png" alt="Close" class="prt_close">
			</div>
			<div class="container">
				<div class="row">
					<div class="prt_about_info prt_bottompadder80">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="prt_about_img">
								<img src="images/content/about.jpg" alt="About">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="prt_heading_wrapper_2">
								<div class="prt_heading prt_toppadder50">
									<h1>About ME</h1>
									<p>WHo AM i</p>
								</div>
							</div>
							<div class="prt_about_details">
								<p>I’m a Full Stack Developer with a strong passion for creating user-friendly, scalable websites that combine simplicity and elegance. As a lifelong learner, I’m proficient in data structures and algorithms and have a keen interest in Machine Learning, where I enjoy experimenting with new ideas to build innovative projects.My fascination with technology has led me to explore various domains, including robotics, where I’ve built several robots during my early years. This hands-on experience has deepened my understanding of how software interacts with hardware, sparking my passion for software development. I’m eager to leverage this foundation to contribute to impactful projects and grow as a developer in the field.</p>
								<a href="" class="prt_btn">Download Resume</a> <a href="#" class="prt_btn">Hire Me</a>
							</div>
						</div>
					</div>
					<div class="prt_about_edulearn_wrapper prtabout_edulearn_wrapper_space">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="prt_heading_wrapper">
								<div class="prt_heading">
									<h1>EDucation</h1>
									<p>learning</p>
								</div>
							</div>
							<div class="prt_about_learnsection">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0">
										<div class="prt_about_learnbox_right">
											<div class="prt_about_learnbox_year">
												<h1>2018 </h1>
											</div>
											<div class="prt_about_learnbox_info">
												<h4>Bachelor of Engineering In Amrita college of engineering
												and technology</h4>
												<span>Computer Science</span>
												<span>Cum. GPA: 8.5</span>
												<p>Apr 2018 – May 2022 | Nagercoil</p>

											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="prt_about_learnbox_left">
											<div class="prt_about_learnbox_year">
												<h1>2006</h1>
											</div>
											<div class="prt_about_learnbox_info">
												<h4>Diploma In Web Design</h4>
												<span>New York</span>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
											</div>
										</div> 
									<!-- </div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0">
										<div class="prt_about_learnbox_right">
											<div class="prt_about_learnbox_year">
												<h1>2008</h1>
											</div>
											<div class="prt_about_learnbox_info">
												<h4>Diploma In UI/UX Design</h4>
												<span>New York</span>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
											</div>
										</div>
									</div> -->
									<!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="prt_about_learnbox_left">
											<div class="prt_about_learnbox_year">
												<h1>2010</h1>
											</div>
											<div class="prt_about_learnbox_info">
												<h4>Diploma In Web Design</h4>
												<span>New York</span>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="prt_about_experience_wrapper prt_about_experience_wrapperBottom">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="prt_heading_wrapper">
								<div class="prt_heading">
									<h1>Experience</h1>
									<p>involvement</p>
								</div>
							</div>
							<div class="prt_about_experience">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="prt_about_experiencebox">
											<div class="prt_about_experience_year">
												<h1>2024</h1>
												<h4>Jul 2024 – Aug 2024</h4>
											</div>
											<div class="prt_about_experience_info">
												<h4>Full-Stack Developer
												</h4>
												<span>Bluggle PVT LTD</span>
												<p>Developed 20+ front-end web apps, improving user experience and boosting traffic by 20%. Utilized HTML, CSS, JS, PHP, SQL for full-stack applications. Trained 5 new hires and managed time-sensitive updates.</p>

												</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="prt_about_experiencebox">
											<div class="prt_about_experience_year">
												<h1>2023</h1>
												<h4>Jan 2023 – June 2024</h4>
											</div>
											<div class="prt_about_experience_info">
												<h4>Application Support Engineer</h4>
												<span>Tomia Global</span>
												<p>Supported network performance for clients like British Telecom and Vodafone, managed databases with SQL, and used tools like Oracle Toad and SSH for efficient and timely issue resolution and system stability.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="prt_about_experiencebox">
											<div class="prt_about_experience_year">
												<h1>2015</h1>
												<h4>Jun to 2015 Mar</h4>
											</div>
											<div class="prt_about_experience_info">
												<h4>Senior Ui/Ux Designer</h4>
												<span>Google</span>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="prt_about_experiencebox Leadui">
											<div class="prt_about_experience_year">
												<h1>2016</h1>
												<h4>Apr to Present</h4>
											</div>
											<div class="prt_about_experience_info">
												<h4>Lead Ui/Ux Designer</h4>
												<span>Google</span>
												<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prt_profile_info">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="prt_profile_slider">
								<div class="owl-carousel owl-theme">
									<div class="item">
										<i class="fa fa-behance pl_clr1" aria-hidden="true"></i>
										<h4>Behance</h4>
									</div>
									<div class="item">
										<i class="fa fa-dribbble pl_clr2" aria-hidden="true"></i>
										<h4>Dribbble</h4>
									</div>
									<div class="item">
										<i class="fa fa-envira pl_clr3" aria-hidden="true"></i>
										<h4>envira</h4>
									</div>
									<div class="item">
										<i class="fa fa-behance pl_clr1" aria-hidden="true"></i>
										<h4>Behance</h4>
									</div>
									<div class="item">
										<i class="fa fa-dribbble pl_clr2" aria-hidden="true"></i>
										<h4>Dribbble</h4>
									</div>
									<div class="item">
										<i class="fa fa-envira pl_clr3" aria-hidden="true"></i>
										<h4>envira</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="prt_heading_wrapper_2">
								<div class="prt_heading">
									<h1>PROFILES</h1>
									<p>WOrks At</p>
								</div>
							</div>
							<div class="prt_profile_details">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="prt_footer_wrapper prt_toppadder30 prt_bottompadder30">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<p>Copyright © 2022 <a href="#">Portfolio</a>. All Rights Reserved</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>